@media screen and(max-width:1050px){

    .navbar{
        min-width: 85vw;
        max-width: 85vw;
        background: rgb(127, 251, 255);
    }
    
    .navbar-links{
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 105px;
        left: 50%;
        right: 50%;

    }

    .burger{
        display: flex;
    }
}