* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #fff;
  color: #000;
  font-family: "Century Gothic", helvetica, arial, sans-serif;
  font-size: 1.4em;
  /* equiv 14px */
  line-height: 1.5;
  /* adapt to your design */
}

/* font-sizing for content */
/* preserve vertical-rythm, thanks to http://soqr.fr/vertical-rhythm/ */
p,
ul,
ol,
dl,
blockquote,
pre,
td,
th,
label,
textarea,
caption,
details,
figure,
hgroup {
  font-size: 1em;
  /* equiv 14px */
  line-height: 1.5;
  margin: 1.5em 0 0;
}

h1, .h1-like {
  font-size: 1.8571em;
  /* equiv 26px */
  font-weight: normal;
  line-height: 1.6154em;
  margin: .8077em 0 0 0;
}

h2, .h2-like {
  font-size: 1.7143em;
  /* equiv 24px */
  font-weight: normal;
  line-height: 1.75em;
  margin: .875em 0 0 0;
}

h3, .h3-like {
  font-size: 1.5714em;
  /* equiv 22px */
  font-weight: normal;
  line-height: 1.909em;
  margin: .9545em 0 0 0;
}

h4, .h4-like {
  font-size: 1.4286em;
  /* equiv 20px */
  font-weight: normal;
  line-height: 1.05em;
  margin: 1.05em 0 0 0;
}

h5, .h5-like {
  font-size: 1.2857em;
  /* equiv 18px */
  font-weight: normal;
  line-height: 1.1667em;
  margin: 1.1667em 0 0 0;
}

h6, .h6-like {
  font-size: 1.1429em;
  /* equiv 16px */
  font-weight: normal;
  line-height: 1.3125em;
  margin: 1.3125em 0 0 0;
}

/* alternate font-sizing */
.smaller {
  font-size: .7143em;
  /* equiv 10px */
  line-height: 2.1em;
}

.small {
  font-size: .8571em;
  /* equiv 12px */
  line-height: 1.75em;
}

.big {
  font-size: 1.1429em;
  /* equiv 16px */
  line-height: 1.3125em;
}

.bigger {
  font-size: 1.2857em;
  /* equiv 18px */
  line-height: 1.1667em;
}

.biggest {
  font-size: 1.4286em;
  /* equiv 20px */
  line-height: 1.05em;
}

/* soft reset */
html,
body,
textarea,
figure,
label {
  margin: 0;
  padding: 0;
}

ul,
ol {
  padding-left: 2em;
}

code,
pre,
samp {
  white-space: pre-wrap;
  font-family: consolas, 'DejaVu Sans Mono', courier, monospace;
}

code {
  line-height: 1em;
}

table {
  margin-bottom: 1.5em;
}

/* avoid top margins on first content element */
p:first-child,
ul:first-child,
ol:first-child,
dl:first-child,
blockquote:first-child,
pre:first-child,
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0;
}

/* avoid margins on nested elements */
li p,
li ul,
li ol {
  margin-top: 0;
  margin-bottom: 0;
}

/* HTML5 tags */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* max values */
img, table, td, blockquote, code, pre, textarea, input, video {
  max-width: 100%;
}

/* you shall not pass */
div, textarea, table, td, th, code, pre, samp {
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
}

/* pictures */
img {
  width: auto;
  height: auto;
  vertical-align: middle;
}

a img {
  border: 0;
}

/* scripts */
body > script {
  display: none !important;
}

/* skip-links */
.skip-links {
  position: absolute;
}

.skip-links a {
  position: absolute;
  left: -9999px;
  padding: 0.5em;
  background: #000;
  color: #fff;
  text-decoration: none;
}

.skip-links a:focus {
  position: static;
}
body {
  color: #000013;
  font-family: 'Open sans',sans-serif;
  overflow-x: hidden;
}

.titles {
  font-size: 8rem;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
}

.subtitles {
  font-size: 6.5rem;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
}

.btn {
  display: inline-block;
  width: 100%;
  line-height: 6rem;
  text-align: center;
  border: 1px solid #36291F;
  border-radius: 0.2rem;
  text-decoration: none;
  font-size: 1.7rem;
  font-weight: 700;
  color: #36291F;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn:hover {
  background-color: #36291F;
  color: azure;
  border-radius: 2.8rem;
}

/*---Navbar---*/
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  background-color: white;
  z-index: 1000;
}

.header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 20vw;
  width: 1000px;
  min-height: 8vh;
  z-index: 999;
}

.header .navbar .navbar-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0;
  gap: 5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .navbar .navbar-links .link {
  list-style: none;
}

.header .navbar .navbar-links .link a {
  color: black;
  text-decoration: none;
  font-size: 1.8rem;
  letter-spacing: 3px;
  font-weight: 700;
  text-transform: uppercase;
}

.logo {
  width: 100px;
  height: 100px;
}

.logo img {
  max-width: 100%;
  max-height: 100%;
}

.burger {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 3px solid #00ff0d;
  display: none;
}

.burger .line {
  background: #fff;
  width: 50px;
  height: 3.5px;
  border-radius: 3px;
}

.burger :nth-child(2) {
  margin: 6px 0 6px 0;
}

.main-top .scroll {
  position: fixed;
  bottom: 80px;
  left: 40px;
  z-index: 1;
}

.main-top .scroll .scroll-line {
  width: 2px;
  height: 64px;
  background: #fff;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

.main-top .scroll .scrolldown {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  line-height: 1;
  letter-spacing: 0.3em;
  color: #fff;
}

.main-top .img-top {
  width: 100vw;
  height: 100vh;
}

.main-top .img-top img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
  filter: brightness(40%);
  -webkit-filter: brightness(40%);
}

/*---Main_Content---*/
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 15vh;
  padding-bottom: 10vh;
}

.wrapper p {
  font-size: 1.9rem;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about .back {
  position: absolute;
  width: 85vw;
  height: 40.5rem;
  margin: auto;
  z-index: -1;
  background-color: #f0eeea;
  bottom: -70rem;
}

.about .about_wrapper {
  width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 10rem;
}

.about .about_wrapper .img_about {
  width: 500px;
}

.about .about_wrapper .text_about {
  margin-top: 10rem;
  width: 300px;
}

.about .about_wrapper .text_about .content_box {
  margin-top: 3rem;
  height: 6rem;
}

.pre_menu {
  background-color: white;
  padding-bottom: 23vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 0;
}

.pre_menu .back2 {
  position: absolute;
  width: 60vw;
  height: 126.5rem;
  z-index: -1;
  background-color: #f0eeea;
  bottom: -290rem;
}

.pre_menu .img-pre_menu {
  margin: auto;
  width: 845px;
  margin-bottom: 17.5rem;
}

.pre_menu .img-pre_menu img {
  filter: brightness(80%);
  -webkit-filter: brightness(80%);
  width: 100%;
  height: 100%;
}

.pre_menu .pic_quote {
  position: relative;
  display: inline-block;
  color: black;
  font-weight: 700;
  word-spacing: 0.2rem;
  bottom: 450px;
  left: 710px;
  text-shadow: 0 0px 15px white;
}

.pre_menu .pre_menu_headline {
  margin: auto;
  width: 55rem;
  margin-bottom: 184px;
}

.pre_menu .pre_menu_headline h1 {
  text-transform: initial;
  font-size: 8.3rem;
  line-height: 10rem;
  font-weight: 800;
}

.pre_menu .pre_menu_headline p {
  font-weight: lighter;
}

.pre_menu .img-hair-pre_menu {
  margin-left: auto;
  width: 85.4%;
}

.pre_menu .img-hair-pre_menu img {
  width: 100%;
  height: 80rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fff;
  padding-bottom: 20rem;
}

.menu .menu_wrapper {
  width: 1056px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.menu .menu_wrapper .text_menu {
  min-width: 300px;
  max-width: 300px;
  z-index: 1;
  color: white;
  margin-left: 2rem;
}

.menu .menu_wrapper .text_menu .content_box {
  margin-top: 3rem;
  height: 6rem;
}

.menu .menu_wrapper .text_menu .content_box .btn {
  border: 1px solid white;
  color: white;
}

.menu .menu_wrapper .text_menu .content_box .btn:hover {
  background-color: white;
  color: #36291F;
}

.menu .menu_wrapper .menu_img {
  position: absolute;
  min-width: 50vw;
  max-width: 55vw;
  height: 65rem;
  overflow: hidden;
  bottom: -429rem;
  right: 0;
  z-index: 1;
}

.menu .menu_wrapper .menu_img img {
  max-width: 100%;
  min-width: 1000px;
  height: auto;
}

.menu .back3 {
  position: absolute;
  width: 68vw;
  height: 67.5rem;
  background-color: #36291F;
  bottom: -414.9rem;
  left: 0;
}

.staff {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 12rem;
  padding-bottom: 12.2rem;
}

.staff .staff_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 105rem;
}

.staff .staff_wrapper .staff_img {
  width: 40rem;
}

.staff .staff_wrapper .text_staff {
  min-width: 300px;
  max-width: 300px;
  z-index: 1;
}

.staff .staff_wrapper .text_staff .content_box {
  margin-top: 3rem;
  height: 6rem;
}

.staff .back4 {
  position: absolute;
  width: 40rem;
  height: 55.5rem;
  margin: auto;
  z-index: -1;
  background-color: #f0eeea;
  bottom: -511rem;
}

.contact {
  background-color: #36291F;
}

.footer {
  background-color: #00000a;
  text-align: center;
  color: white;
}

.footer .nav-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
}

.footer .nav-footer nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 112px;
  min-height: 8vh;
  gap: 1rem;
}

.footer .nav-footer nav .logo-footer {
  width: 80px;
}

.footer .nav-footer nav .contact-footer p {
  font-size: 1.2rem;
  margin: 0;
}

.footer .nav-footer nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0;
}

.footer .nav-footer nav ul li {
  list-style: none;
}

.footer .nav-footer nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.8rem;
  letter-spacing: 3px;
  font-weight: 700;
  text-transform: uppercase;
}

.footer .nav-footer nav ul li:nth-of-type(2) {
  margin-left: 1rem;
}

/*---Page About---*/
.top-about {
  display: block;
}

.top-about .title_about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 1050px;
  margin: 0 auto;
}

.top-about .title_about .text-title_about {
  width: 100%;
  text-align: center;
  margin: 16.5rem 0 10rem 0;
}

.top-about .title_about .text-title_about p {
  width: 75%;
  margin: 0 auto;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 1.5;
}

.top-about .image_top-about {
  background: url(../images/apothecary-87-GelJl0gofbc-unsplash.jpg);
  margin-bottom: 12rem;
  height: 30rem;
  height: 50rem;
  background-size: cover;
  background-position: right 50% bottom 64%;
  -webkit-filter: grayscale(70%);
          filter: grayscale(70%);
}

#passions {
  /* border: 1px solid magenta; */
  margin-top: 12rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#passions .header-passions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#passions .header-passions .heading-num {
  font-size: 2.6rem;
  color: #f19da2;
  position: relative;
  padding-left: 4rem;
  padding-right: 3.2rem;
  font-family: 'Poppins', sans-serif;
  line-height: 1.1;
}

#passions .header-passions .heading-num::after {
  content: "";
  width: 3rem;
  height: 4px;
  background: #020b16;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

#passions .header-passions .title_passions {
  display: inline-block;
  margin-left: 10%;
  margin-right: 14%;
}

#passions .passions_content {
  /* border: 1px solid mediumspringgreen; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 20%;
  margin-right: 16%;
  margin-top: 8rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#passions .passions_content .card_passions {
  /* border: 1px solid darkcyan; */
  width: 30%;
}

#passions .passions_content .card_passions .image_passions {
  text-align: center;
}

#passions .passions_content .card_passions .sub_title_passions {
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: center;
  margin-top: 27px;
  margin-bottom: 15px;
}

#passions .passions_content .card_passions .sub_title_passions h3 {
  font-size: 1.8rem;
}

#passions .passions_content .card_passions .text_passions {
  text-align: center;
  word-spacing: 7px;
  line-height: 2;
  color: #828c96;
}

/*---Media queries---*/
@media screen and (max-width: 1050px) {
  .navbar {
    min-width: 85vw;
    max-width: 85vw;
    background: #7ffbff;
  }
  .navbar-links {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 105px;
    left: 50%;
    right: 50%;
  }
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
/*# sourceMappingURL=style.css.map */