@media screen and(max-width:768px){
    .navbar-links{
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 105px;
        left: 50%;
        right: 50%;

    }

    .burger{
        display: flex;
    }
}