@import "./libs/variables.css";
@import "./libs/base.css";


body{
    
    color: rgb(0, 0, 19);
    font-family: 'Open sans',sans-serif;
}

.titles{
    font-size: 8rem;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

.subtitles{

    font-size: 6.5rem;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}