@import "./libs/_variables.scss";
@import "./libs/_base.scss";
@import "./libs/_mixin.scss";

body{
    
    color: rgb(0, 0, 19);
    font-family: 'Open sans',sans-serif;
    overflow-x: hidden;
}

.titles{
    font-size: 8rem;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}

.subtitles{

    font-size: 6.5rem;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

/*---Navbar---*/
.header{
    display: flex;
    justify-content: center;
}

.navbar{
    display: flex;
    position: fixed;
    background: rgb(0, 166, 172);
    @include border($red);
    justify-content: space-between;
    align-items: center;
    min-width: 1000px;
    max-width: 1000px;
    min-height: 8vh;
    z-index: 1000;
    // padding: 0 1rem 0 1rem;

    .navbar-links{
        display: flex;
        margin-top: 0;
        gap: 3rem;
        align-items: center;
        
        @include border($yellow);
        

        .link{
            list-style: none;
            @include border($magenta);

            a{
                color: #fff;
                text-decoration: none;
                font-size: 1.8rem;
                letter-spacing: 3px;
            }
        }
    }
}

.logo{
    width: 100px;
    height: 100px;
    @include border;


    img{
        max-width: 100%;
        max-height: 100%;
    }
}

.burger{
    height: 100%;
    display: flex;
    flex-direction: column;
    @include border($green);
    display: none;

    .line{
        
        background: #fff;
        width: 50px;
        height: 3.5px;
        border-radius: 3px;
    }

    :nth-child(2){
        margin: 6px 0 6px 0;
    }
}

.main-top{

    .scroll{

        position: fixed;
        bottom: 80px;
        left: 40px;
        z-index: 1;

        .scroll-line{

            width: 2px;
            height: 64px;
            background: #fff;
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            // bottom: -80px;
        }

       .scrolldown{
        font-family: 'Poppins', sans-serif;
        font-size: 1.6rem;
        line-height: 1;
        letter-spacing: 0.3em;
        // -webkit-writing-mode: vertical-rl;
        // -ms-writing-mode: tb-rl;
        // writing-mode: vertical-rl;
        color: #fff;
       }
        
    }
    


    .img-top{
        width: 100vw;
        height: 100vh;
    
        img{
            object-fit:cover;
            object-position: center;
            width: 100%;
            height: 100%;
            filter: brightness(40%);
            -webkit-filter: brightness(40%)
        }
    }
    
}


/*---Main_Content---*/

.wrapper{
    padding-top: 10vh;
    padding-bottom: 10vh;
    position: flex;
    justify-content: center;
}

.about{
    background-color: $cream;

}

.menu{
    background-color: $brown;
}

.staff{
    background-color: $skin;
}

.contact{
    background-color: $dark-brown;
}



/*---Media queries---*/

@import "_media.scss";